extends layout

block content
  p
    | Sabrina is a research project that was developed at Stanford, in the Mobisocial research group,
    | lead by prof. Monica Lam.

  div
    h1 Project proposal
    iframe(src='https://docs.google.com/presentation/d/1NRr6eUPQ-D86pfjcNA2PfQzZaCHU5QQLo_UV_rmLmvo/embed?start=false&loop=false&delayms=0', frameborder='0', width='960', height='569', align='center', allowfullscreen='true', mozallowfullscreen='true', webkitallowfullscreen='true')

  br
  br

  div
    h1 Progress report
    iframe(src='https://docs.google.com/presentation/d/10OPUSjMJLhxyvhSLSS_wRnhqJ0lVQGnCiYXkufarbTQ/embed?start=false&loop=false&delayms=0', frameborder='0', width='960', height='569', align='center', allowfullscreen='true', mozallowfullscreen='true', webkitallowfullscreen='true')
  
  br
  br

  div
    h1 Final progress report
    <iframe src="https://docs.google.com/presentation/d/1dT6UerwUmcwePs3PhN8jhbsyZhJZV5WmdrzS5LImTgA/embed?start=false&loop=false&delayms=0" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>