extends layout

block scripts
  script(src='/js/browse.js')
  script(src='http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars.runtime-v3.0.3.js')
    
block content
  div
    h2 Best new rules
    div(class='panel panel-success')
      div.panel-heading
        | Weather
      div.panel-body
        button(type='button', class='btn btn-default rule-button')
          i(class='fa fa-umbrella')
          | 
          i(class='fa fa-twitter')
          |    Tweet a picture if it rains

        button(type='button', class='btn btn-default rule-button')
          i(class='fa fa-moon-o')
          | 
          i(class='fa fa-lightbulb-o')
          |    Turn on lights at dusk

        button(type='button', class='btn btn-default rule-button')
          i(class='fa fa-bolt')
          | 
          i(class='fa fa-taxi')
          |    Get a ride if a storm is coming

    
    div(class='panel panel-warning')
      div.panel-heading
        | Finance
      div.panel-body
        button(type='button', class='btn btn-default rule-button')
          i(class='fa fa-bank')
          | 
          i(class='fa fa-comment-o')
          |    Send notification if bank account is low

        button(type='button', class='btn btn-default rule-button')
          i(class='fa fa-credit-card')
          | 
          i(class='fa fa-comment-o')
          |    Send notification when credit card is charged

    div(class='panel panel-info')
      div.panel-heading
        | Health
      div.panel-body
          button(type='button', class='btn btn-default rule-button')
            i(class='fa fa-heartbeat')
            | 
            i(class='fa fa-exclamation-triangle')
            |    Send a warning when heartbeat is irregular 

          button(type='button', class='btn btn-default rule-button')
            i(class='fa fa-paw')
            | 
            i(class='fa fa-phone')
            |    Call if Fido is lost 

    div(class='panel panel-danger')
      div.panel-heading
        | Device
      div.panel-body
          button(type='button', class='btn btn-default rule-button')
            i(class='fa fa-cubes')
            | 
            i(class='fa fa-user')
            |    Greet me when I am near

          button(type='button', class='btn btn-default rule-button')
            i(class='fa fa-cubes')
            | 
            i(class='fa fa-camera-retro')
            |    Take pictures along patrol route

  hr

  div
    h2 Rule collection
    a(name='rules')
    #rule-list.list-group
