extends layout

block scripts
  script(src='/js/browse.js')
  script(src='//builds.handlebarsjs.com.s3.amazonaws.com/handlebars.runtime-v3.0.3.js')
    
block content
  div
    h2 Best new spells
    div(class='panel panel-success')
      div.panel-heading
        | Weather
      div.panel-body
        button(type='button', class='btn btn-default rule-button')
          i(class='fa fa-umbrella')
          | 
          i(class='fa fa-twitter')
          |    If rain => tweet

        button(type='button', class='btn btn-default rule-button')
          i(class='fa fa-moon-o')
          | 
          i(class='fa fa-lightbulb-o')
          |    If dusk => turn on lights

        button(type='button', class='btn btn-default rule-button')
          i(class='fa fa-bolt')
          | 
          i(class='fa fa-taxi')
          |    If storm => call taxi

    
    div(class='panel panel-warning')
      div.panel-heading
        | Finance
      div.panel-body
        button(type='button', class='btn btn-default rule-button')
          i(class='fa fa-line-chart')
          | 
          i(class='fa fa-comment-o')
          |    If stock is up => notify me

        button(type='button', class='btn btn-default rule-button')
          i(class='fa fa-credit-card')
          | 
          i(class='fa fa-comment-o')
          |    If card charged => notify me

    div(class='panel panel-info')
      div.panel-heading
        | Health
      div.panel-body
          button(type='button', class='btn btn-default rule-button')
            i(class='fa fa-heartbeat')
            | 
            i(class='fa fa-share')
            |    If exercise => share results

          button(type='button', class='btn btn-default rule-button')
            i(class='fa fa-paw')
            | 
            i(class='fa fa-phone')
            |    If Fido lost => call me

  hr

  div
    h2 Spell collection
    a(name='rules')
    #rule-list.list-group

  div.modal.fade(aria-hidden='true', role='dialog', aria-labelled-by='install-rule-dialog-title')#install-rule-dialog
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title#install-rule-dialog-title Learn spell

        div.modal-body
          p.well
            a#install-rule-url
