extends layout

block scripts
    script(src='/js/browse.js')

block content
  div.jumbotron.center
    h2.center Browse rules

  div.center
    table.browse-rules-table
      tr
        td
          img(src='/braincat.jpg') 
        td
          img(src='/braincat.jpg')
        td
          img(src='/braincat.jpg')
        td 
          img(src='/braincat.jpg')
      tr
        td
          br
      tr
        td
          img(src='/braincat.jpg') 
        td
          img(src='/braincat.jpg')
        td
          img(src='/braincat.jpg')
        td 
          img(src='/braincat.jpg')

  br
  br
  div.jumbotron.center
    h2.center Categories

  div.categories
    a(class='thumbnail' href="#") This    
    a(class='thumbnail' href="#") That
    a(class='thumbnail' href="#") Or maybe those
