extends layout

block scripts
  script(src='/js/create.js')

block content
  h1.center Create a rule

  div.container-fluid.well
    div.row
      div.col-md-1
       label(for='name') Name

      div.col-md-1
       input(type='text' id='name')

    div.row
      div.col-md-1
        label Triggers

      div.col-md-1
        a.add-new-trigger.placeholder(href='#', data-toggle='modal', data-target='#trigger-channel-select') Add new trigger

  div.modal.fade(aria-hidden='true', role='dialog', aria-labelled-by='trigger-channel-select-title')#trigger-channel-select
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title#trigger-channel-select-title Select a channel

        div.modal-body
          div.container-fluid#trigger-channel-select-container