extends layout

block scripts
  script(src='/js/create.js')

block content
  h1.center Create a rule

  p In Rulepedia, you can define simple actions that your phone will execute when specific events occur.
    | This model is called WTDT - <i>When this, do that</i>.
    // lol
  p To start, click on
    i  Add new condition
    |  to choose when your rule will be activated. You can use multiple conditions if you need it.
    | Then, click on
    i  Add new action
    |  to choose what your phone will do when the condition happens.
    | When you're done, click on
    i  Install
    |  to show the QR code. Scan this code with your phone to install the rule.
  p You can also choose a name that will be shown in the app for you to rememeber, and for your friends
    | to find in our collection of rules!

  form.form-horizontal.container-fluid.well
    div.form-group
      div.col-md-3
        label(for='name') Name

      div.col-md-9
        input.form-control(type='text' id='name')

    div.form-group
      div.col-md-3
        label When?

      div.col-md-9
        ul#triggers-container.container-fluid
        button.btn.btn-default.placeholder#add-new-trigger(type='button', data-toggle='modal', data-target='#trigger-channel-select') Add new condition

    div.form-group
      div.col-md-3
        label What?

      div.col-md-9
        ul#actions-container.container-fluid
        button.btn.btn-default.placeholder#add-new-action(type='button', data-toggle='modal', data-target='#action-channel-select') Add new action

  div.modal.fade(aria-hidden='true', role='dialog', aria-labelled-by='trigger-channel-select-title')#trigger-channel-select
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title#trigger-channel-select-title Select a channel

        div.modal-body
          div.container-fluid#trigger-channel-select-container

  div#trigger-placeholder

  div.modal.fade(aria-hidden='true', role='dialog', aria-labelled-by='action-channel-select-title')#action-channel-select
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title#action-channel-select-title Select a channel

        div.modal-body
          div.container-fluid#action-channel-select-container

  div#action-placeholder
  
