extends layout

block content
  div.jumbotron.center
    h1 Welcome to Rulepedia!
    | Hello world
    br
    br
    br
    p
      a(class='btn btn-primary btn-lg', href='#') Learn More

  div.center
    a(class='btn btn-primary main-nav-button', href='/browse') Browse rules
    a(class='btn btn-success main-nav-button', href='/create') Create a rule

