doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src='/js/shared.js')
    block scripts

  body
    header(class="navbar navbar-inverse navbar-fixed-top", role="banner")
      div.navbar-header
        a(class="navbar-brand scroller", href="/") Rulepedia
      nav(class="navbar-collapse bs-navbar-collapse collapse", role="navigation")
        ul.nav.navbar-nav
          li
            a(class="scroller", href="/browse") Browse
          li
            a(class="scroller", href="/create") Create
          li
            a(class="scroller", href="/about") About

    br
    block content